@page
@model DemoApplication.Pages.EmployeeSalary.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EmployeeSalary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Employee
                <select asp-for="EmployeeSalary.EmployeeId" class="form-control" asp-items="Model.Items"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSalary.SalaryDate" class="control-label"></label>
                <input asp-for="EmployeeSalary.SalaryDate" class="form-control" />
                <span asp-validation-for="EmployeeSalary.SalaryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSalary.Amount" class="control-label"></label>
                <input asp-for="EmployeeSalary.Amount" class="form-control" />
                <span asp-validation-for="EmployeeSalary.Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Employee">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
